<div class="jumbotron">

<h1>Welcome! Please login.</h1>
<br>
<section class="auth-form">
    <div>
        Email:
        <input type="text" autofocus="true" ng-model="account.email">
    </div>
    <div>
        Password:
        <input type="password" ng-model="account.password">
    </div>
    <div>
        <button class="btn btn-default" ng-click="login()">Login</button>
        <br>
        <p>
            <br>
            If you are a new user, please type in your information and click register to access the site!
            <button class="btn btn-default" ng-click="register()">Register</button>
        </p>
    </div>
</section>
</div>

